$typeface:'Share Tech Mono', monospace;
$background-color: #71f13f;
$primary-color: #000000;
$light-color:rgb(206, 255, 195);
$mid-color: rgb(93, 227, 120);
$dark-color: rgb(53, 150, 26);

$width: 300px;
$height: 50px;

body{
    background-color:$background-color;
    color:$primary-color;
    font-family:$typeface;
}

button {
    width:$width;
    height:$height;
    font-family:$typeface;
    background-color: #ffecd2;
}

article {
    border:1px solid #c0c0c0;
    padding: 1em;
    margin: 5px 5px;
    flex-grow: 1;

    &.light{
        background-color:$light-color;
      }

    &.mid{
        background-color:$mid-color;
    }

    &.dark{
        border:1px solid $dark-color;
        background-color:$dark-color;
      }

    h1{
        color: #000000;
    }

    p{
        color: #444444;
    }

  }